[Unit]
Description=Record successful boot for GRUB
Before=graphical.target multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/bin/sh -c '[ -s /boot/grub/grubenv ] || rm -f /boot/grub/grubenv'
ExecStart=/usr/bin/grub-editenv /boot/grub/grubenv unset recordfail

[Install]
WantedBy=multi-user.target graphical.target
